__pycache__
.vscode
*.o
*.so
*.ipynb
*.json
*.xpl
!template.ipynb
!template.json
!tutorial.ipynb
!tutorial.json
!normal_neonate.ipynb
!normal_neonate.json
!mas.ipynb
!mas.json
!pda.ipynb
!pda.json
!fetus.ipynb
!fetus.json
!dataset_builder.ipynb
!dataset_trainer.ipynb
!parameter_estimation.ipynb
